.navigation{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    width:100%;
    margin: 0px;
    padding:5px;
    box-shadow: 0px 10px 10px whitesmoke, 0px 10px 10px grey;
}

.Brand{
    font-size: 35px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    color: rgb(0,128,84);
    display: inline;
    margin-left: 20px;

}

a, a:visited{
    color: rgb(0,128,84);
    text-decoration: none;
}

.alertLink{
    padding-right: 35px;
    font-size: 25px;
}

.rightLinks{
    display:flex;
    justify-content: center;
    align-items: center;
}